*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.underline{
    width: 100px;
    height: 2px;
    background-color: gold;
    margin: 1.5rem 0rem;
}

.danger{
    color: red;
}