*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    background-color: #f4f6f9;
    /* font-family: Roboto; */
    color: #01426a;
}

.underline{
    width: 100px;
    background-color: gold;
    height: 2px;
}

h1{
    font-size: 2.2rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.8rem;
}

h4{
    font-size:1.3rem;
}

p{
    font-size: 1.1rem;
}

.floating-whatsapp-icon{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    width: max-content;
    
}
.floating-whatsapp-icon img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgb(90, 90, 90);
}