
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
}

.partnering-with-bekocorporate  {
    background: #ffff;
    line-height: 1;
    width: 100%;
    max-width: 1440px;
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 2.9rem;
    margin: 0 auto;
    padding: 0 auto;
    /* bottom: 5px; */
}

.partner-with-bekocorporate {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    padding: 2rem 4rem;
    width: 100vw;
    max-width: 1440px;
    position: relative;
    top: 0;
}

.partner-image-container>div {
    width: 450px;
    height: 200px;
    background: green;
    border-radius: 50%;
}

.partener-text-container>div {
    width: 175px;
    height: 2.5px;
    background: gold;
    line-break: auto;
}

.partener-text-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 1rem;
}

.why-bekocorporate {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 2.5rem;
    justify-content: center;
    /* text-align: left; */
    /* border: 2px solid blue; */
    position: relative;
    bottom: 10px;
    line-height: 1rem;
}

.my-heading {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 1rem;
    justify-content: center;
    /* border: 2px solid blue; */

}

.my-heading>div {
    width: 130px;
    height: 2.5px;
    background: gold;
}

.header {
    border-left: 2px solid gold;
}

.header h3 {
    padding-left: 0.5rem;
}

.content-wrapper {
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 1.5rem;
    line-height: 1.3;
    line-break: auto;
    align-items: center;
    width: 80%;;
    margin-left: 6rem;
    padding: 0.5rem;
}

.list-style-icon {
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
    position: relative;
}

.text-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 1.5rem;
    padding: 0;
}
