.at-beko, .welcome-to-beko{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
}
.homepage-hero {
    background: #ffff;
    line-height: 1.5;
    width: 100%;
    position: relative;
}

.hero-container-wrapper {
    max-width: 1440px;
    padding-top: 3rem;
    margin: auto;
}

.at-beko {
    grid-template-columns: repeat(2, 50%);
    column-gap: 2%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100vw;
    max-width: 1440px;
}

.welcome-to-beko {
    grid-template-columns: repeat(2, 50%);
    column-gap: 2%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding: 2rem 4rem;
    width: 100vw;
    max-width: 1440px;
}

.at-beko, .welcome-to-beko{
    width: 90vw;
    margin: auto;
}

.hero-image-container img{
    border-radius: 10px;
}

.hero-container-wrapper .hero-text-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 1rem;
}

@media (max-width: 1024px) {
    .at-beko {
        column-gap: 1%;
        margin: 0 auto;
        padding: 1rem;
        padding: 1rem 3rem;
        width: 95vw;
        max-width: 1024px;
    }

    .welcome-to-beko {
        column-gap: 1%;
        margin: 0 auto;
        padding: 1rem;
        padding: 1rem 3rem;
        width: 95vw;
        max-width: 1024px;
    }
}

@media (max-width: 768px) {
    .at-beko {
        grid-template-columns: auto;
    }

    .at-beko .hero-text-container {
        row-gap: 1.25rem;
    }

    .welcome-to-beko {
        grid-template-columns: auto;
    }

    .welcome-to-beko .hero-text-container{
        position: relative;
        top: 425px;
        row-gap: 1.5rem;
    }

    .welcome-to-beko .hero-image-container{
        position: relative;
        bottom: 220px;
    }
}

@media (max-width: 425px) {
    .welcome-to-beko .hero-text-container {
        position:relative;
        top: 210px;
    }

    .welcome-to-beko .hero-image-container {
        position: relative;
        bottom: 300px;
    }

    .at-beko {
        margin: 0 auto;
        padding: 2rem;
        padding: 2rem 4rem;
        width: 100vw;
        max-width: 1440px;
    }

    .hero-container-wrapper {
        grid-template-columns: auto;
        grid-template-rows: auto max-content;
        row-gap: 2rem;
        margin: 0 auto;
        padding: 1rem;
        padding: 2rem 4rem;
        width: 100vw;
        max-width: 1440px;
    }
}

@media (max-width: 320px) {
    .at-beko {
        grid-template-columns: auto;
    }

    .welcome-to-beko {
        grid-template-columns: auto;
    }

    .welcome-to-beko .hero-text-container {
        position:relative;
        top: 100px;
    }

    .welcome-to-beko .hero-image-container {
        position: relative;
        bottom: 500px;
    }
}
