.at-beko, .welcome-to-beko{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
}
.homepage-hero {
    background: #ffff;
    line-height: 1.5;
    width: 100%;
    position: relative;
}

.hero-container-wrapper {
    max-width: 1440px;
    padding: 2rem 0rem;
    margin: auto;
}

.at-beko, .welcome-to-beko {
    grid-template-columns: repeat(2, 50%);
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-width: 1440px;
    width: 90vw;
    margin: auto;
}
.hero-image-container img{
    border-radius: 10px;
}
@media (max-width: 1024px){
    .at-beko, .welcome-to-beko{
        width: 100vw;
        padding: 1rem 2rem;
    }
}
.hero-container-wrapper .hero-text-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 1rem;
}
@media (max-width: 768px) {
    .at-beko, .welcome-to-beko {
        grid-template-columns: auto;
        row-gap: 2rem;
        padding: 1rem;
    }
    .welcome-to-beko .hero-text-container{
        grid-area: 2/1/span 1/span 1;
    }
}

/*@media (max-width: 425px) {
    .welcome-to-beko .hero-text-container {
        position:relative;
        top: 210px;
    }

    .welcome-to-beko .hero-image-container {
        position: relative;
        bottom: 300px;
    }

    .at-beko {
        margin: 0 auto;
        padding: 2rem;
        padding: 2rem 4rem;
        width: 100vw;
        max-width: 1440px;
    }

    .hero-container-wrapper {
        grid-template-columns: auto;
        grid-template-rows: auto max-content;
        row-gap: 2rem;
        margin: 0 auto;
        padding: 1rem;
        padding: 2rem 4rem;
        width: 100vw;
        max-width: 1440px;
    }
}

@media (max-width: 320px) {
    .at-beko {
        grid-template-columns: auto;
    }

    .welcome-to-beko {
        grid-template-columns: auto;
    }

    .welcome-to-beko .hero-text-container {
        position:relative;
        top: 100px;
    }

    .welcome-to-beko .hero-image-container {
        position: relative;
        bottom: 500px;
    }
}*/
